{% extends 'inventory_templates/inventory_base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">

<link rel="stylesheet" href="{% static "dist/css/add_product.css" %}">
<style>
    .container-fluid {
        width: 84%;
        padding-right: 7.5px;
        padding-left: 7.5px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<link rel="stylesheet" href="{% static "dist/css/trading.css" %}">
{% endblock custom_css %}
{% block page_title %}Create Payment{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Create Payment</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="flex-container">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="payment_date">Date<span class="required-star">*</span></label>
                                            <input type="text" id="payment_date" class="form-control datepicker mr-2" name="payment_date" placeholder="Select Date" value="" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="amount">Amount:</label>
                                            <input type="number" step="0.01" class="form-control" id="amount" name="amount" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="voucher_no">Voucher Number:</label>
                                            <input type="number" class="form-control" id="voucher_no" name="voucher_no" required>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="payment_method">Payment Method:</label>
                                            <div class="select_mate" data-mate-select="dropdown-active">
                                                <select name="payment_method" onchange="togglePaymentFields()" id="payment_method">
                                                    <option value="" disabled selected>Select a payment method</option>
                                                    <option value="Card" data-target="cardFields">Card</option>
                                                    <option value="Cash" data-target="cashFields">Cash</option>
                                                    <option value="Bank" data-target="bankFields">Bank</option>
                                                </select>
                                                <p class="selecionado_opcion" onclick="open_select(this)"></p>
                                                <span onclick="open_select(this)" class="icon_select_mate">
                                                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                        <path d="M0-.75h24v24H0z" fill="none"/>
                                                    </svg>
                                                </span>
                                                <div class="cont_list_select_mate">
                                                    <ul class="cont_select_int">  </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="transaction_id">Transaction ID:</label>
                                            <input type="text" class="form-control" id="transaction_id" name="transaction_id" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="status">Status:</label>
                                            <div class="select_mate" data-mate-select="dropdown-active" >
                                                <select name="status" onchange="" onclick="return false;" id="status" >
                                                    <option value="" disabled selected>Select an payment status </option>
                                                    <option value="Unpaid">Unpaid</option>
                                                    <option value="Paid">Paid</option>
                                                    <option value="Draft">Draft</option>
                                                </select>
                                                <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                    <path d="M0-.75h24v24H0z" fill="none"/>
                                                </svg></span>
                                                <div class="cont_list_select_mate">
                                                <ul class="cont_select_int">  </ul> 
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4 payment-fields" id="bankFields">
                                        <div class="form-group">
                                            <label for="cheque_number">Cheque Number:</label>
                                            <input type="text" class="form-control" id="cheque_number" name="cheque_number">
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4 payment-fields" id="cardFields">
                                        <div class="form-group">
                                            <label for="card_number">Card Number:</label>
                                            <input type="text" class="form-control" id="card_number" name="card_number">
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4 payment-fields" id="cashFields">
                                        <div class="form-group">
                                            <label for="cash">Cash:</label>
                                            <input type="text" class="form-control" id="cash" name="cash">
                                        </div>
                                    </div>
                                    
                              
                                  
                                    <input type="hidden" name="expense_id" value="{{ expense.id }}">

                                </div>

                               <br>
                               <br>
                                <button type="submit" class="save-btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main_content %}


{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{% static "dist/js/select_dropdown.js" %}"></script>
<script>
    // Maintain a list of selected products
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            toggleActive: true
        }).on('changeDate', function() {
            // Hide the datepicker when a date is selected
            $(this).datepicker('hide');
        });
    });


</script>
<script>
    function togglePaymentFields() {
        // Hide all payment fields
        $('.payment-fields').hide();
    
        // Show the selected payment field
        var selectedPaymentMethod = $('#payment_method').val();
        if (selectedPaymentMethod) {
            var targetField = $('#' + selectedPaymentMethod.toLowerCase() + 'Fields');
            if (targetField.length > 0) {
                targetField.show();
            }
        }
    }
    
    // Call the function on page load to hide all fields initially
    $(document).ready(function () {
        togglePaymentFields();
    
        // Bind the function to the change event of the payment method dropdown
        $('#payment_method').change(function () {
            togglePaymentFields();
        });
    });
    </script>
{% endblock custom_js %}