{% extends 'inventory_templates/inventory_base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="{% static "dist/css/add_product.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
<style>
    /* Add custom CSS for spacing and form design */
    .form-container {
        margin-bottom: 20px; /* Add space between form and table */
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-container .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>
{% endblock custom_css %}

{% block main_content %}
<div class="container-xl px-4 mt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header d-flex justify-content-center">
                        <h3 class="card-title py-2">Supplier Report</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-container">
                            <!-- Add a form for generating the Supplier Report -->
                            <form method="GET" action="{% url 'generate_supplier_report' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="start_date">Start Date</label>
                                        <input type="text" id="start_date" name="start_date" class="form-control datepicker" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for "end_date">End Date</label>
                                        <input type="text" id="end_date" name="end_date" class="form-control datepicker" required>
                                    </div>
                                    <div class="form-group col-md-4" style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-primary" name="generate_report" style="margin-top: 20px;">Generate Report</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Display all suppliers in a table -->
                        <div class="table-responsive">
                            <table id="supplierdetaillist" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Supplier Code</th>
                                        <th>Address</th>
                                        <th>Company</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Address Street</th>
                                        <th>Address City</th>
                                        <th>Address State</th>
                                        <th>Address Postal Code</th>
                                        <th>Address Country</th>
                                        <th>Website</th>
                                        <th>Payment History</th>
                                        <th>Contract Start Date</th>
                                        <th>Contract End Date</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in all_suppliers %}
                                    <tr>
                                        <td><span class="badge badge-primary">{{ supplier.name }}</span></td>
                                        <td><span class="badge badge-secondary">{{ supplier.supplier_code }}</span></td>
                                        <td><span class="badge badge-success">{{ supplier.address }}</span></td>
                                        <td><span class="badge badge-warning">{{ supplier.company }}</span></td>
                                        <td><span class="badge badge-info">{{ supplier.phone }}</span></td>
                                        <td><span class="badge badge-light">{{ supplier.email }}</span></td>
                                        <td><span class="badge badge-dark">{{ supplier.address_street }}</span></td>
                                        <td><span class="badge badge-primary">{{ supplier.address_city }}</span></td>
                                        <td><span class="badge badge-secondary">{{ supplier.address_state }}</span></td>
                                        <td><span class="badge badge-success">{{ supplier.address_postal_code }}</span></td>
                                        <td><span class="badge badge-warning">{{ supplier.address_country }}</span></td>
                                        <td><span class="badge badge-info">{{ supplier.website }}</span></td>
                                        <td><span class="badge badge-light">{{ supplier.payment_history }}</span></td>
                                        <td><span class="badge badge-dark">{{ supplier.contract_start_date }}</span></td>
                                        <td><span class="badge badge-primary">{{ supplier.contract_end_date }}</span></td>
                                        <td><span class="badge badge-secondary">{{ supplier.created_at }}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{% static "dist/js/select_dropdown.js" %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Initialize flatpickr for date picker inputs
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            toggleActive: true
        }).on('changeDate', function() {
            // Hide the datepicker when a date is selected
            $(this).datepicker('hide');
        });


        // Function to update the supplier table
        function updateSupplierTable() {
            const startDate = document.getElementById("start_date").value;
            const endDate = document.getElementById("end_date").value;

            // Make an AJAX request to the filter_supplier_report view
            fetch(`/api/suppliers/?start_date=${startDate}&end_date=${endDate}`)
                .then((response) => response.json())
                .then((data) => {
                    // Generate table rows and update the table
                    let table = document.getElementById("supplierdetaillist");
                    let tableBody = table.querySelector('tbody');
                    tableBody.innerHTML = ''; // Clear the table

                    data.forEach((supplier) => {
                        // Create a new row for each supplier
                        let row = document.createElement('tr');

                        // Create table cells for each column
                        let nameCell = document.createElement('td');
                        nameCell.textContent = supplier.name;
                        row.appendChild(nameCell);

                        let supplierCodeCell = document.createElement('td');
                        supplierCodeCell.textContent = supplier.supplier_code;
                        row.appendChild(supplierCodeCell);

                        let addressCell = document.createElement('td');
                        addressCell.textContent = supplier.address;
                        row.appendChild(addressCell);

                        let companyCell = document.createElement('td');
                        companyCell.textContent = supplier.company;
                        row.appendChild(companyCell);

                        let phoneCell = document.createElement('td');
                        phoneCell.textContent = supplier.phone;
                        row.appendChild(phoneCell);

                        let emailCell = document.createElement('td');
                        emailCell.textContent = supplier.email;
                        row.appendChild(emailCell);

                        let addressStreetCell = document.createElement('td');
                        addressStreetCell.textContent = supplier.address_street;
                        row.appendChild(addressStreetCell);

                        let addressCityCell = document.createElement('td');
                        addressCityCell.textContent = supplier.address_city;
                        row.appendChild(addressCityCell);

                        let addressStateCell = document.createElement('td');
                        addressStateCell.textContent = supplier.address_state;
                        row.appendChild(addressStateCell);

                        let addressPostalCodeCell = document.createElement('td');
                        addressPostalCodeCell.textContent = supplier.address_postal_code;
                        row.appendChild(addressPostalCodeCell);

                        let addressCountryCell = document.createElement('td');
                        addressCountryCell.textContent = supplier.address_country;
                        row.appendChild(addressCountryCell);

                        let websiteCell = document.createElement('td');
                        websiteCell.textContent = supplier.website;
                        row.appendChild(websiteCell);

                        let paymentHistoryCell = document.createElement('td');
                        paymentHistoryCell.textContent = supplier.payment_history;
                        row.appendChild(paymentHistoryCell);

                        let contractStartDateCell = document.createElement('td');
                        contractStartDateCell.textContent = supplier.contract_start_date;
                        row.appendChild(contractStartDateCell);

                        let contractEndDateCell = document.createElement('td');
                        contractEndDateCell.textContent = supplier.contract_end_date;
                        row.appendChild(contractEndDateCell);

                        let createdAtCell = document.createElement('td');
                        createdAtCell.textContent = supplier.created_at;
                        row.appendChild(createdAtCell);

                        // Add the row to the table
                        tableBody.appendChild(row);
                    });
                });
        }

        // Initialize the table when the page loads
        updateSupplierTable();
    });
</script>

<script>
    $(document).ready(function() {
        $('#supplierdetaillist').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] // Specify the correct number of columns
                    }
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    filename: 'supplier List',
                    extension: '.csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] // Specify the correct number of columns
                    }
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    filename: 'supplier List',
                    extension: '.xlsx',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] // Specify the correct number of columns
                    }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    filename: 'supplier List',
                    extension: '.pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] // Specify the correct number of columns
                    }
                },
                'print'
            ],
            initComplete: function () {
                console.log("DataTables initialized!");
            }
        });
    });
</script>
{% endblock custom_js %}
