{% extends 'accounts_templates/accounts_base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static "dist/css/add_product.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
{% endblock custom_css %}
{% block page_title %}Create Payment{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Create Payment</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="flex-container">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4 mt-4">

                                        <div class="form-group">
                                            <label for="category">Group</label>
                                           <select name="category" id="category" class="form-control" required>
                                                <option value="supplier">Supplier</option>
                                                <option value="biller">Biller</option>
                                                <option value="purchases">Purchases</option>
                                                <option value="expense">Expense</option>
                                                <option value="counter">Counter</option>

                                            </select>
                                        </div>
                                        {% comment %} <div class="form-group">
                                            <label for="category">Group</label>
                                           <select name="category" id="category" class="form-control" required>
                                                <option value="supplier">Supplier</option>
                                                <option value="biller">Biller</option>
                                                <option value="purchases">Purchases</option>
                                                <option value="expense">Expense</option>
                                                <option value="counter">Counter</option>

                                            </select>
                                        </div> {% endcomment %}
                                    </div>

                                    <div id="supplier_fields" style="display: none;">
                                        <div class="col-4 mt-4">
                                            {% comment %} <div class="form-group">
                                                <label for="supplier_id">Supplier:</label>
                                               <select name="supplier_id" id="supplier_id" class="form-control" >
                                                {% for supplier in suppliers %}
                                                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div> {% endcomment %}
                                            <div class="form-group">
                                                <label for="supplier_id">Supplier:</label>
                                                <!--customselect-->
                                                <div class="select_mate" data-mate-select="dropdown-active" >
                                                    <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                    <select name="supplier_id" onchange="" onclick="return false;" id="supplier_id">
                                                        <option value=""  >Select The Option </option>
                                                        {% for supplier in suppliers %}
                                                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                        <path d="M0-.75h24v24H0z" fill="none"/>
                                                    </svg></span>
                                                    <div class="cont_list_select_mate">
                                                    <ul class="cont_select_int">  </ul> 
                                                    </div>
                                                </div>
                                                <!--customselect-->
                                            </div>


                                        </div>
                                    </div>
                                    
                                    <div id="biller_fields" style="display: none;">
                                        <div class="col-4 mt-4">
                                            <div class="form-group">
                                                <label for="biller_id">Biller:</label>
                                                <!--customselect-->
                                                <div class="select_mate" data-mate-select="dropdown-active" >
                                                    <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                    <select name="biller_id" onchange="" onclick="return false;" id="biller_id">
                                                        <option value=""  >Select The Option </option>
                                                        {% for biller in billers %}
                                                        <option value="{{ biller.id }}">{{ biller.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                        <path d="M0-.75h24v24H0z" fill="none"/>
                                                    </svg></span>
                                                    <div class="cont_list_select_mate">
                                                    <ul class="cont_select_int">  </ul> 
                                                    </div>
                                                </div>
                                                <!--customselect-->
                                            </div>
                                            {% comment %} <div class="form-group">
                                                <label for "biller_id">Biller:</label>
                                                <select name="biller_id" id="biller_id" class="form-control" >
                                                {% for biller in billers %}
                                                <option value="{{ biller.id }}">{{ biller.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                 
                                    <div id="purchases_fields" style="display: none;">
                                        <div class="col-4 mt-4">
                                            <div class="form-group">
                                                <label for="purchases_id">Purchases:</label>
                                                <!--customselect-->
                                                <div class="select_mate" data-mate-select="dropdown-active" >
                                                    <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                    <select name="purchases_id" onchange="" onclick="return false;" id="purchases_id">
                                                        <option value=""  >Select The Option </option>
                                                        {% for purchase in purchases %}
                                                        <option value="{{ purchase.id }}">{{ purchase.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                        <path d="M0-.75h24v24H0z" fill="none"/>
                                                    </svg></span>
                                                    <div class="cont_list_select_mate">
                                                    <ul class="cont_select_int">  </ul> 
                                                    </div>
                                                </div>
                                                <!--customselect-->
                                            </div>
                                            {% comment %} <div class="form-group">
                                                <label for="purchases_id">Purchases:</label>
                                                <select name="purchases_id" id="purchases_id" class="form-control" >
                                                {% for purchase in purchases %}
                                                <option value="{{ purchase.id }}">{{ purchase.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>

                                    <div id="expense_fields" style="display: none;">
                                        <div class="col-4 mt-4">
                                            <div class="form-group">
                                                <label for="expense_id">Expense:</label>
                                                <select name="expense_id" id="expense_id" class="form-control" >
                                                {% for expense in expenses %}
                                                <option value="{{ expense.id }}">{{ expense.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="counter_fields" style="display: none;">
                                        <div class="col-4 mt-4">
                                            {% comment %} <div class="form-group">
                                                <label for="counter_id">Counter:</label>
                                               <select name="counter_id" id="counter_id" class="form-control" >
                                                {% for counter in counters %}
                                                <option value="{{ counter.id }}">{{ counter.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div> {% endcomment %}
                                            <div class="form-group">
                                                <label for="counter_id">Counter:</label>
                                                <!--customselect-->
                                                <div class="select_mate" data-mate-select="dropdown-active" >
                                                    <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                    <select name="counter_id" onchange="" onclick="return false;" id="counter_id">
                                                        <option value=""  >Select The Option </option>
                                                        {% for counter in counters %}
                                                        <option value="{{ counter.id }}">{{ counter.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                        <path d="M0-.75h24v24H0z" fill="none"/>
                                                    </svg></span>
                                                    <div class="cont_list_select_mate">
                                                    <ul class="cont_select_int">  </ul> 
                                                    </div>
                                                </div>
                                                <!--customselect-->
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-4 mt-4">
                                        {% comment %} <div class="form-group">
                                            <label for="status">Status:</label>
                                            <select name="status" id="status" class="form-control" required>
                                                <option value="pending">Pending</option>
                                                <option value="completed">Completed</option>
                                                <option value="failed">Failed</option>
                                            </select>
                                        </div> {% endcomment %}
                                        <div class="form-group">
                                            <label for="status">Status:</label>
                                            <!--customselect-->
                                            <div class="select_mate" data-mate-select="dropdown-active" >
                                                <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                <select name="status" onchange="" onclick="return false;" id="status">
                                                    <option value=""  >Select The Option </option>
                                                    <option value="pending">Pending</option>
                                                    <option value="completed">Completed</option>
                                                    <option value="failed">Failed</option>
                                                </select>
                                                <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                    <path d="M0-.75h24v24H0z" fill="none"/>
                                                </svg></span>
                                                <div class="cont_list_select_mate">
                                                <ul class="cont_select_int">  </ul> 
                                                </div>
                                            </div>
                                            <!--customselect-->
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="voucher_number">Voucher Number:</label>
                                            <input type="text" class="form-control" id="voucher_number" name="voucher_number" placeholder="Enter Voucher Number" required>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">

                                        <div class="form-group">
                                            <label for="account_id">Account:</label>
                                            <!--customselect-->
                                            <div class="select_mate" data-mate-select="dropdown-active" >
                                                <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                <select name="account_id" onchange="" onclick="return false;" id="account_id">
                                                    <option value=""  >Select The Option </option>
                                                    {% for bank in banks %}
                                                    <option value="{{ bank.id }}">{{ bank.bank_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                    <path d="M0-.75h24v24H0z" fill="none"/>
                                                </svg></span>
                                                <div class="cont_list_select_mate">
                                                <ul class="cont_select_int">  </ul> 
                                                </div>
                                            </div>
                                            <!--customselect-->
                                        </div>
                                        {% comment %} <div class="form-group">
                                            <label for="account_id">Account:</label>
                                            <select name="account_id" id="account_id" class="form-control" required>
                                                {% for bank in banks %}
                                                <option value="{{ bank.id }}">{{ bank.bank_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="col-4 mt-4">
                                        {% comment %} <div class="form-group">
                                            <label for="payment_type">Payment Type:</label>
                                            <select name="payment_type" id="payment_type" class="form-control" required>
                                                <option value="credit_card">Credit Card</option>
                                                <option value="bank_transfer">Bank Transfer</option>
                                                <option value="cash">Cash</option>
                                                <option value="check">Check</option>
                                            </select>
                                        </div> {% endcomment %}
                                        <div class="form-group">
                                            <label for="payment_type">Payment Type:</label>
                                            <!--customselect-->
                                            <div class="select_mate" data-mate-select="dropdown-active" >
                                                <!--<select name="source_warehouse" onchange="" onclick="return false;" id="source_warehouse">-->
                                                <select name="payment_type" onchange="" onclick="return false;" id="payment_type">
                                                    <option value=""  >Select The Option </option>
                                                    <option value="credit_card">Credit Card</option>
                                                    <option value="bank_transfer">Bank Transfer</option>
                                                    <option value="cash">Cash</option>
                                                    <option value="check">Check</option>
                                                </select>
                                                <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                    <path d="M0-.75h24v24H0z" fill="none"/>
                                                </svg></span>
                                                <div class="cont_list_select_mate">
                                                <ul class="cont_select_int">  </ul> 
                                                </div>
                                            </div>
                                            <!--customselect-->
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="amount">Amount:</label>
                                            <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount" required>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="date">Date:</label>
                                            <input type="date" class="form-control" id="date" name="date" required>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="reference">Reference:</label>
                                            <input type="text" class="form-control" id="reference" placeholder="Enter Reference" name="reference" required>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="form-group">
                                            <label for="payment_receipt">Payment Receipt:</label>
                                            <input type="file" class="form-control" id="payment_receipt" name="payment_receipt">
                                        </div>
                                    </div>
                                    <div class="col-5 mt-2">
                                        <div class="form-group">
                                            <label for="payment_note">Payment Note:</label>
                                            <input class="form-control" id="payment_note" name="payment_note" placeholder="Note..." ></input>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="save-btn">Creat Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("category").addEventListener("change", function () {
        var selectedCategory = this.value;
        var fields = ["supplier_fields", "biller_fields", "purchases_fields", "expense_fields"];
        fields.forEach(function (field) {
            document.getElementById(field).style.display = "none";
        });
        if (selectedCategory === "supplier") {
            document.getElementById("supplier_fields").style.display = "block";
        } else if (selectedCategory === "biller") {
            document.getElementById("biller_fields").style.display = "block";
        } else if (selectedCategory === "purchases") {
            document.getElementById("purchases_fields").style.display = "block";
        } else if (selectedCategory === "expense") {
            document.getElementById("expense_fields").style.display = "block";
        }
        else if (selectedCategory === "counter") {
            document.getElementById("counter_fields").style.display = "block";
        }
    });
</script>
<script type="text/javascript" src="{% static "dist/js/select_dropdown.js" %}"></script>
{% endblock main_content %}
