{% extends 'accounts_templates/accounts_base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "dist/css/add_product.css" %}">
<link rel="stylesheet" href="{% static "dist/css/transection.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">

{% endblock custom_css %}

{% block main_content %}
<div class="main-part">
    <div class="cpanel">
        <div class="icon-part">
            <i class="fa-solid fa-credit-card"></i><br>
            <small>Total Income</small>
            <p>{{ total_income }}</p>
        </div>
    </div>

    <div class="cpanel cpanel-green">
        <div class="icon-part">
            <i class="fa-solid fa-credit-card"></i><br>
            <small>Revenue</small>
            <p>{{ total_revenue }}</p>
        </div>
    </div>

    <div class="cpanel cpanel-orange">
        <div class="icon-part">
            <i class="fa-solid fa-credit-card"></i><br>
            <small>Invoice</small>
            <p>{{ invoice_total }}</p>
        </div>
    </div>
</div>
<br><br><br>
<div class="transaction-table">
    <h2>Payment</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Income Source</td>
                <td>January</td>
                <td>February</td>
                <td>March</td>
                <td>April</td>
                <td>May</td>
                <td>June</td>
                <td>July</td>
                <td>August</td>
                <td>September</td>
                <td>October</td>
                <td>November</td>
                <td>December</td>
            </tr>
        </thead>
        <tbody>
            <td>Ticket Sale</td>
            <td>{{ payment_monthly_amounts.1|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.2|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.3|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.4|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.5|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.6|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.7|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.8|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.9|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.10|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.11|default:"0.00" }}</td>
            <td>{{ payment_monthly_amounts.12|default:"0.00" }}</td>
        </tbody>
    </table>
</div>

<div class="transaction-table">
    <h2>Invoice</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Income Source</td>
                <td>January</td>
                <td>February</td>
                <td>March</td>
                <td>April</td>
                <td>May</td>
                <td>June</td>
                <td>July</td>
                <td>August</td>
                <td>September</td>
                <td>October</td>
                <td>November</td>
                <td>December</td>
            </tr>
        </thead>
        <tbody>
            <td>Ticket Sale</td>
            <td>{{ invoice_monthly_amounts.1|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.2|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.3|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.4|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.5|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.6|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.7|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.8|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.9|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.10|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.11|default:"0.00" }}</td>
            <td>{{ invoice_monthly_amounts.12|default:"0.00" }}</td>
        </tbody>
    </table>
</div>

<div class="transaction-table">
    <h2>Total Income</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Income Source</td>
                <td>January</td>
                <td>February</td>
                <td>March</td>
                <td>April</td>
                <td>May</td>
                <td>June</td>
                <td>July</td>
                <td>August</td>
                <td>September</td>
                <td>October</td>
                <td>November</td>
                <td>December</td>
            </tr>
        </thead>
        <tbody>
            <td>Total (Revenue + Invoice)</td>
            <td>{{ total_monthly_income.1|default:"0.00" }}</td>
            <td>{{ total_monthly_income.2|default:"0.00" }}</td>
            <td>{{ total_monthly_income.3|default:"0.00" }}</td>
            <td>{{ total_monthly_income.4|default:"0.00" }}</td>
            <td>{{ total_monthly_income.5|default:"0.00" }}</td>
            <td>{{ total_monthly_income.6|default:"0.00" }}</td>
            <td>{{ total_monthly_income.7|default:"0.00" }}</td>
            <td>{{ total_monthly_income.8|default:"0.00" }}</td>
            <td>{{ total_monthly_income.9|default:"0.00" }}</td>
            <td>{{ total_monthly_income.10|default:"0.00" }}</td>
            <td>{{ total_monthly_income.11|default:"0.00" }}</td>
            <td>{{ total_monthly_income.12|default:"0.00" }}</td>
        </tbody>
    </table>
</div>
{% endblock main_content %}
