{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static "dist/css/adminlte.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{% static 'dist/css/login_user.css' %}">
{% endblock custom_css %}
{% block content %}
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
            </div>
        </div>
    </div>
</section>
<div class="container-xl login-container px-4 mt-4">
    <div class="login-box">
        <h2 class="text-center mt-3">Login</h2>
        <form action="/doLogin" method="post" id="demo-form" style="margin-top: 41px; !important">
            {% csrf_token %}
            <div class="user-box mb-4 mx-auto">
                <div class="user-fields">
                    <fieldset class="material">
                        <input type="text" id="email_or_phone" name="email_or_phone" placeholder="" autocomplete="off" required>
                        <hr>
                        <label for="email_or_phone">Email or Phone</label>
                    </fieldset>
                </div>
            </div>
            <div class="user-box mb-4 mx-auto">
                <div class="user-fields">
                    <fieldset class="material">
                        <input type="password" id="password" name="password" placeholder="" autocomplete="off" required>
                        <span class="password-toggle" id="password-toggle-eye">
                            <i class="fa-regular fa-eye-slash"></i>
                        </span>
                        <hr>
                        <label for="password">Password</label>
                    </fieldset>
                </div>
            </div>
            <div class="remember-div">
                <div class="row">
                    <div class="col-12">
                        <div class="remember-inputs">
                            <input class="form-check-input" type="checkbox" value="" id="remember_me" checked>
                            <label class="form-check-label field-label" for="remember_me">Remember Me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="forgot-password-text text-center"> <a href={% url 'forget_password' %}>Forgot password? </a></p>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4 d-flex justify-content-center">
                <div class="g-recaptcha" data-sitekey="6LeWtqUZAAAAAMO6YmxX5_XWel9hLWrb_iEiff26"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="save-btn mb-3">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Don't have an account? <a href="{% url 'signup_user' %}">Sign Up</a></p>
                </div>
            </div>
            <div class="row">
                {% if messages %}
                <div class="col-12">
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
<br>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('.password-toggle').click(function () {
            console.log('eye icon clicked');
            var passwordInput = $(this).siblings('input');
            if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                $(this).find('i').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                passwordInput.attr('type', 'password');
                $(this).find('i').addClass('fa-eye-slash').removeClass('fa-eye');
            }
        });
    });
</script>
{% endblock content %}