<!doctype html>
<html lang="en">

<head>
  <title>Booking Successful</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <div class="greeting-user-text">
        <p><b>Dear {{ user.email }}</b></p>
    </div>
    <div class="inner-body-text">
        <p>You have successfully booked the tickets for <b>{{ journey_date }}</b></p>
        <p>Details of your booking:</p>
        <p class="my-0">Coach number: <b>{{ coach_number }}</b></p>
        <p class="my-0">Date: <b>{{ journey_date }}</b></p>
        <p class="my-0">Seat number: <b>{{ seat_number }}</b></p>
        <p class="my-0">Total Price: <b>{{ price }}</b></p>
        <p>PNR: <b>{{ pnr }}</b></p>
    </div>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>