{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "dist/css/staff_type.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/add_product.css" %}">
{% endblock custom_css %}


{% block main_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add Payment Method</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">Status</label><br>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="status" value="1" id="status_active" class="form-check-input" required>
                                <label for="status_active" class="form-check-label">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="status" value="0" id="status_inactive" class="form-check-input" required>
                                <label for="status_inactive" class="form-check-label">Inactive</label>
                            </div>
                        </div>
                        <button type="submit" class="save-btn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}