{% extends 'hod_template/base_template.html' %}
{% load static %}

{% block page_title %}Delete Customer{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Delete Customer</h3>
                    </div>
                    <div class="card-body">
                        <p>Are you sure you want to delete the customer: {{ customer.first_name }} {{ customer.last_name }}?</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Customer</button>
                            <a href="{% url 'customer_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}