{% extends 'hod_template/base_template.html' %}
{% load static %}

{% block page_title %}Delete Payment Method{% endblock page_title %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Delete Payment Method</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete the payment method "{{ payment_method.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'payment_method_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}