{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "dist/css/update_user.css" %}">
{% endblock custom_css %}
 {% block main_content %}

<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Delete User</h3>
          </div>
          <div class="card-body " >
            <p style="color: black !important;">
              Are you sure you want to delete the user "{{ user.username }}"?
            </p>
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
              <a href="{% url 'user_list' %}" class="btn btn-secondary"
                >Cancel</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main_content %}
