{% extends 'hod_template/base_template.html' %}
{% load static %}

{% block page_title %}{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">Delete Routes</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <p>Are you sure you want to delete the coach with model name?</p>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <form method="POST" action="{% url 'delete_routes' coach_id=coach.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'manage_routes' %}" class="btn btn-secondary">Cancel</a>
              </form>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  {% endblock main_content %} 