{% extends 'hod_template/base_template.html' %}

{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "dist/css/add_coach.css" %}">
{% endblock custom_css %}

{% block main_content %}
    <div class="container-xl px-4 mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit Popup Time for All Bookings</h3>
                        </div>
                        <!-- /.card-header -->
                    
                        <div class="card-body">
                            <form method="post" action="{% url 'edit_popup_time' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="popup_time_input">New Popup Time (HH:MM)</label>
                                    <input type="text" class="form-control" name="popup_time_input" id="popup_time_input" placeholder="HH:MM" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                            <br>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}