{% extends 'hod_template/base_template.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static "dist/css/staff_type.css" %}">
{% endblock custom_css %}

{% block main_content %}
<div class="container-xl px-4 mt-4">
    <!-- Serial: 1 -->
    <div class="container-fluid">
        <!-- Serial: 2 -->
        <div class="row">
            <!-- Serial: 3 -->
            <div class="col-md-12">
                <!-- Serial: 4 -->
                <div class="card card-primary">
                    <!-- Serial: 5 -->
                    <div class="card-header d-flex justify-content-center">
                        <h3 class="card-title">Manage Staff Types</h3>
                    </div>
                    <form method="GET" action="{% url 'staff_type_list' %}" class="search-form mb-2">
                        <div class="card-body row justify-content-between pb-0">
                            <!-- Serial: 6 -->
                            <div class="add-staff-type-button col-md-6 col-12">
                                <!-- Serial: 7 -->
                                <a href="{% url 'add_staff_type' %}" class="btn btn-primary add-staff-btn">
                                    Add Employee Type
                                </a>
                            </div>
                            <!-- Serial: 8 -->
                            <div class="form-group mt-2 col-md-6 col-12">
                                <div class="input-group">
                                    <input type="text" name="search_query" id="search-input"
                                        class="form-control form-control-sm search-input"
                                        placeholder="Search by Type name" value="{{ search_query }}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary search-button">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                        <!-- Serial: 9 -->
                        {% if messages %}
                        <div class="messages">
                            <!-- Serial: 10 -->
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if staff_types %}
                        <div class="table-container">
                            <!-- Serial: 11 -->
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for staff_type in staff_types %}
                                    <tr>
                                        <!-- Serial: 11.1 -->
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ staff_type.name }}</td>
                                        <!-- Serial: 11.2 -->
                                        <td>
                                            <a href="{% url 'edit_staff_type' staff_type.name %}"
                                                class="btn btn-primary btn-sm edit-btn mb-2">
                                                <i class="bi bi-pencil"></i> Edit
                                            </a>
                                            <a href="{% url 'delete_staff_type' staff_type.name %}"
                                                class="btn btn-danger btn-sm delete-btn mb-2">
                                                <i class="bi bi-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p>No staff types found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
