{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block custom_css %}
<style>
    input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


select {
    appearance: none;
    background: transparent;
    background-image: url('{% static "img/arrow-icon.svg" %}');
    background-position: right 5px center; /* Adjust the position of the icon */
    background-repeat: no-repeat;
    background-size: 15px 15px; /* Adjust the size of the icon */
    padding-right: 20px; /* Add some space for the icon */
}
</style>
    <link rel="stylesheet" href="{% static "dist/css/update_user.css" %}">
{% endblock custom_css %}
{% block page_title %}
    Update User Information
{% endblock page_title %}
{% block main_content %}

<div class="container-xl px-4 mt-4">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header d-flex justify-content-center">
            <h3 class="card-title">Update User</h3>
            </div>
            <div class="card-body">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">User Id</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}" readonly required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="id_email" name="email" class="form-control" value="{{ user.email }}" required>
                </div>

                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ user.phone_number }}" required>
                </div>

                <div class="form-group">
                    <label for="profile_picture">Profile Picture</label>
                    <input type="file" id="profile_picture" name="profile_picture" class="form-control-file">
                </div>
                <div class="form-group">
                <label for="nid_number">NID Number</label>
                <input type="text" id="nid_number" name="nid_number" class="form-control" value="{{ user.nid_number }}">
                <small id="nid_error" class="text-danger"></small>
            </div>
            
            <div class="form-group">
                <label for="city_name">City Name</label>
                <input type="text" id="city_name" name="city_name" class="form-control" value="{{ user.city_name }}">
            </div>
            
            <div class="form-group">
                <label for="zip_code">ZIP Code</label>
                <input type="text" id="zip_code" name="zip_code" class="form-control" value="{{ user.zip_code }}">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" class="form-control" value="{{ user.address }}">
            </div>
            
            <div class="form-group">
                <label for="nid_image">NID Image</label>
                <input type="file" id="nid_image" name="nid_image" class="form-control-file">
                
            </div>

                {% comment %} <div class="form-group">
                    <label for="user_type">User Type</label>
                    <select id="user_type" name="user_type" class="form-control user_type-select py-1" required>
                        <option value="1" {% if user.user_type == 1 %}selected{% endif %}>Super Admin</option>
                        <option value="2" {% if user.user_type == 2 %}selected{% endif %}>Staff</option>
                        <option value="3" {% if user.user_type == 3 %}selected{% endif %}>User</option>
                    </select>
                </div>
                 {% endcomment %}
                <div class="form-group">
                <label for="selected_permissions">Selected Permissions</label>
                <select id="selected_permissions" name="selected_permissions" class="form-control" multiple required>
                    {% for permission in selected_permissions %}
                        <option value="{{ permission.codename }}" selected>{{ permission.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <input type="hidden" id="selected_permissions_input" name="selected_permissions_input" value="{% for permission in selected_permissions %}{{ permission.codename }},{% endfor %}">
                
                <div class="form-group">
                <label for="unselected_permissions">Unselected Permissions</label>
                <select id="unselected_permissions" name="unselected_permissions" class="form-control" multiple >
                    {% for permission in unselected_permissions %}
                        <option value="{{ permission.codename }}">{{ permission.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <p><span id="unselected_count" class="unselected_count">Unselected Permissions Count: {{ unselected_permissions|length }}</span></p>
                
                <div class="card-btn d-flex justify-content-center mb-4">
                    <button type="submit" class="btn btn-primary update-btn">Update User</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script>
    const selectedPermissions = document.getElementById('selected_permissions');
    const unselectedPermissions = document.getElementById('unselected_permissions');
    const unselectedCountSpan = document.getElementById('unselected_count');
    let unselectedCount = {{ unselected_permissions|length }};
    
    unselectedPermissions.addEventListener('click', function(e) {
        if (e.target.tagName === 'OPTION') {
            selectedPermissions.appendChild(e.target);
            unselectedCount--;
            unselectedCountSpan.textContent = unselectedCount;
        }
    });
    
    selectedPermissions.addEventListener('click', function(e) {
        if (e.target.tagName === 'OPTION') {
            unselectedPermissions.appendChild(e.target);
            unselectedCount++;
            unselectedCountSpan.textContent = unselectedCount;
        }
    });

    // Additional code to handle form submission
    const form = document.querySelector('form');
    form.addEventListener('submit', function(e) {
        const selectedOptions = selectedPermissions.options;
        const selectedValues = Array.from(selectedOptions).map(option => option.value);
        document.getElementById('selected_permissions_input').value = selectedValues.join(',');
    });
</script>

<script>
    $(document).ready(function() {
        $("#id_email").keyup(function() {
        var email = $(this).val();
    
        if (email !== "") {
            $.ajax({
            url: "{% url 'check_email_exist' %}",
            type: "POST",
            data: { email: email }
            })
            .done(function(response) {
                console.log(response);
                if (response === "True") {
                $(".email_error").remove();
                $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email Not Available</span>").insertAfter("#id_email");
                $("#id_email").addClass("error-field");
                } else {
                $(".email_error").remove();
                $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>").insertAfter("#id_email");
                $("#id_email").removeClass("error-field");
                }
            })
            .fail(function() {
                console.log("failed");
            });
        } else {
            $(".email_error").remove();
            $("#id_email").removeClass("error-field");
        }
        });
    
        $("#id_username").keyup(function() {
        var username = $(this).val();
    
        if (username !== "") {
            $.ajax({
            url: "{% url 'check_username_exist' %}",
            type: "POST",
            data: { username: username }
            })
            .done(function(response) {
                console.log(response);
                if (response === "True") {
                $(".username_error").remove();
                $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>").insertAfter("#id_username");
                $("#id_username").addClass("error-field");
                } else {
                $(".username_error").remove();
                $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>").insertAfter("#id_username");
                $("#id_username").removeClass("error-field");
                }
            })
            .fail(function() {
                console.log("failed");
            });
        } else {
            $(".username_error").remove();
            $("#id_username").removeClass("error-field");
        }
        });
    
        $("#phone_number").on("input", function() {
        var phoneNumber = $(this).val();
        var numericPhoneNumber = phoneNumber.replace(/\D/g, ""); // Remove non-digit characters
    
        $(this).val(numericPhoneNumber); // Update the input value with the numeric version
    
        // Check if the phone number length is not 11
        if (numericPhoneNumber.length !== 11) {
            $(".phone_error").remove();
            $(
            "<span class='phone_error' style='padding: 5px;color: red;font-weight: bold;'>Phone Number must be 11 digits</span>"
            ).insertAfter("#phone_number");
            $("#phone_number").addClass("error-field");
            return;
        }
    
        // Check if the phone number starts with the allowed prefixes
        var allowedPrefixes = ["019", "018", "017", "016", "013", "014"];
        var isValidPrefix = false;
    
        for (var i = 0; i < allowedPrefixes.length; i++) {
            if (numericPhoneNumber.startsWith(allowedPrefixes[i])) {
            isValidPrefix = true;
            break;
            }
        }
    
        if (!isValidPrefix) {
            $(".phone_error").remove();
            $(
            "<span class='phone_error' style='padding: 5px;color: red;font-weight: bold;'>Invalid Number</span>"
            ).insertAfter("#phone_number");
            $("#phone_number").addClass("error-field");
            return;
        }
    
        // Phone number is valid, proceed with availability check
        $(".phone_error").remove();
        $("#phone_number").removeClass("error-field");
        $.ajax({
            url: "{% url 'check_phone_number_exist' %}",
            type: "POST",
            data: { phoneNumber: numericPhoneNumber },
        })
            .done(function(response) {
            console.log(response);
            if (response === "True") {
                $(
                "<span class='phone_error' style='padding: 5px;color: red;font-weight: bold;'>Phone Number Not Available</span>"
                ).insertAfter("#phone_number");
                $("#phone_number").addClass("error-field");
            } else {
                $(
                "<span class='phone_error' style='padding: 5px;color: green;font-weight: bold;'>Phone Number Available</span>"
                ).insertAfter("#phone_number");
                $("#phone_number").removeClass("error-field");
            }
            })
            .fail(function() {
            console.log("failed");
            });
        });
    
        // Variables for delay and timeout
        var delayTimer;
        var timeout = 300;
    
        // Function to handle suggestion request
    
    
        // Function to handle search request
        function performSearch(query) {
        $.ajax({
            url: "/user_list/",
            type: "GET",
            data: {
            query: query
            },
            success: function(response) {
            $("#search-results").html(response);
            }
        });
        }
    
        // Event handler for search form submission
        $("#search-form").on("submit", function(event) {
        event.preventDefault();
        var query = $("#search-input").val();
        performSearch(query);
        });
    
        // Event handler for search input keyup
        $("#search-input").on("keyup", function(event) {
        var query = $(this).val();
        clearTimeout(delayTimer);
        if (query) {
            delayTimer = setTimeout(function() {
            performSuggestion(query);
            }, timeout);
        } else {
            $("#suggestions").empty();
        }
        });
    
        // Event handler for form submission
        $("form").on("submit", function(event) {
        var isValid = true;
        if ($("#id_email").hasClass("error-field")) {
            isValid = false;
        }
        if ($("#id_username").hasClass("error-field")) {
            isValid = false;
        }
        if ($("#phone_number").hasClass("error-field")) {
            isValid = false;
        }
    
        if (!isValid) {
            event.preventDefault();
            $(".error-field").css("border-color", "red");
        }
        });
    });
    </script>
    
    {% comment %} <script>
    document.addEventListener("DOMContentLoaded", function() {
        const nidImageBox = document.getElementById("nid_image_box");
        const profilePictureBox = document.getElementById("profile_picture_box");
        
        const nidImageInput = document.getElementById("nid_image");
        const profilePictureInput = document.getElementById("profile_picture");
        
        nidImageBox.addEventListener("click", function() {
        nidImageInput.click();
        });
        
        profilePictureBox.addEventListener("click", function() {
        profilePictureInput.click();
        });
        
        nidImageInput.addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
            nidImageBox.querySelector("img").src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
        });
        
        profilePictureInput.addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
            profilePictureBox.querySelector("img").src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
        });
    });
    </script> {% endcomment %}
    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const nidImageBox = document.getElementById("nid_image_box");
        const profilePictureBox = document.getElementById("profile_picture_box");
        
        const nidImageInput = document.getElementById("nid_image");
        const profilePictureInput = document.getElementById("profile_picture");
        
        nidImageBox.addEventListener("click", function() {
        nidImageInput.click();
        });
        
        profilePictureBox.addEventListener("click", function() {
        profilePictureInput.click();
        });
        
        nidImageInput.addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
            nidImageBox.querySelector("img").src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
        });
        
        profilePictureInput.addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
            profilePictureBox.querySelector("img").src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
        });
    });
    
    </script>
    
    
    <script>
        const nidNumberInput = document.getElementById('nid_number');
        const nidError = document.getElementById('nid_error');
        
        nidNumberInput.addEventListener('input', function() {
            const inputValue = this.value.trim();
            const numericValue = inputValue.replace(/\D/g, ''); // Remove non-numeric characters
            
            if (numericValue.length > 13) {
                // Limit to 13 digits
                this.value = numericValue.substring(0, 13);
            }
            
            if (/^\d{10}$|^\d{13}$/.test(this.value)) {
                nidError.textContent = ''; // Clear the error message
            } else {
                nidError.textContent = 'NID Number must be 13 or 10 digits long.';
            }
        });
    
        nidNumberInput.addEventListener('keydown', function(event) {
            // Allow only number keys, backspace, and arrow keys
            if (!(event.key.match(/^\d$/) || event.key === 'Backspace' || event.key.startsWith('Arrow'))) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        const zipCodeInput = document.getElementById('zip_code');
        
        zipCodeInput.addEventListener('input', function() {
            const numericValue = this.value.replace(/\D/g, ''); // Remove non-numeric characters
            
            // Limit to 5 digits
            this.value = numericValue.substring(0, 5);
        });
        
        zipCodeInput.addEventListener('keydown', function(event) {
            // Allow only number keys and navigation keys (backspace, arrow keys)
            if (!(event.key.match(/^\d$/) || event.key === 'Backspace' || event.key.startsWith('Arrow'))) {
                event.preventDefault();
            }
        });
    </script>
    
{% endblock main_content %}